.main-heading{
  color:whitesmoke;
  font-size:26px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: lighter;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 30px;
}
.underline {
  height: 05px;
  width: 18rem;
  background-color:#fee440;
  margin-top:  10px;
  margin-bottom:40px;
  margin-left: 650px;
  margin-right: 100px;
}
.para{
  color: #fee440;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 26px;
  margin-bottom: 80px;
  font-weight: lighter;
}
.outcome{
   color: #fee440;
   margin-left: 230px;
   margin-bottom: 40px;
   font-family: 'PT Sans Narrow', sans-serif;
}
.text{
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
